// ================= BODY ================= //
$body-background:#F5F5F5;
$body-font-color:#3F3844;

// ================= TOPBAR ================= //
$topbar-background:#E6E6E6;



// TAB
$tab-background:#E6E6E6;
$tab-color:#2c2c2c;
$tab-border:#DCDCDC;

$tab-hover-background:#EEEEEE;

$tab-active-background:#FFFFFF;
$tab-active-color:#000000;

$tab-exit-color:#b6b7b8;
$tab-exit-hover-color:#DD5454;

$addtab-color:#b6b7b8;
$addtab-hover-color:#727272;
$addtab-hover-background:#c7c7c7;

// EVENTS
$events-color:#787878;

$events-hover-color:#2c2c2c;
$events-hover-bg:#EEEEEE;
$events-close-hover-color:#ffffff;
$events-close-hover-bg:#DD5454;



// NAVIGATION
$navbar-background: #FFFFFF;
$navbar-top-border:#E8E8E8;
$navbar-bottom-border:#FBFBFB;

$pagecontrol-color:#2c2c2c;
$pagecontrol-hover-color:#b6b7b8;

$searchbar-color:#8f8f8f;
$searchbar-placeholder-color:#C6C6C6;
$searchbar-focus-color:#5f5f5f;

$settings-color:#2c2c2c;
$settings-hover-color:#b6b7b8;